footer {
    background-color: #e30613;
    padding: 20px 40px;
    user-select: none;
}

footer p {
    color: white;
}

footer span {
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
}

footer {
    max-width: 1200px;
    /* max-width: 15000px; */
    margin: 0 auto;
    padding: 5vh 0 ;
    border-radius: 50px 50px 0 0;
    /* letter-spacing: 5px; */
    line-height: 200%;
}